.container{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: row;
}
.box{
   border: 1px solid rgb(204, 204, 204);
   padding:25px 0px ;
   width: 70%;
   height: 100%;
   margin:30px 15px 40px 0px;
   background-color: white;
}
.slider{
    position: sticky;
    top: 0;
}
.shopeCart{
   width: 30%; 
   margin:23px 15px 15px 40px;
   background-color: white;
   position: sticky;
   top:0;
   padding-top: 8px;
}

@media (max-width: 992px) {
    .shopeCart{
        display: none;
    }
    .box{
        width: 100%;
        margin: 0px auto;
        margin-top: 10px;
    }
  }